body {
    color: white;
    background: rgb(13, 12, 12);
    margin: 0px;
    font-family: "Chakra Petch", sans-serif;
    margin-bottom: 100px;
}

  .chamada {
    background: Black;
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}


 header {
    
  border-bottom: solid 2px rgb(244, 7, 7);
  padding: 20px;
  font-size: 50px;
  color: rgb(227, 248, 4);
 }
  .chamada-texto {
    margin-right:20px;
 }


 div {
    margin-right:20px;
 }

 h1 {
 font-size: 40px;
 color: rgb(222, 242, 5);
 }

 p{
    font-size:20px;
 }

  .categoria-video {
   display: flex;
   overflow-x:auto;
   gap: 10px;
 }

  .categoria {
   padding-left: 20px;
   padding-right: 20px;
   margin-top: 50px;
 }

  .categoria-video img {
   opacity: 0.5;
   height: 200px;
 }

  .categoria-video img:hover {
   opacity: 1.0;
   border: 1px solid rgb(234, 255, 0);
 }

  .categoria h2 {
   color: rgb(249, 212, 1);
  }